<h2>{{ r25_location.label }}</h2>
<div id="stanford-r25-room-info">
  {% if r25_location is empty %}
  <p>Room information unavailable. Please check with your site administrator.</p>
  {% else %}
    {% if r25_location.get('displaytype') == 0 %}
      <p>This room is not available for reservation.<br />
        If you believe this is in error, please check with your department maanger.</p>
    {% else %}
      {% if photo_url is not empty %}
        <div id="stanford-r25-room-photo">
          <img src="{{ file_url(photo_url) }}">
        </div>
      {%  endif %}
      <div id="stanford-r25-room-detail">
        {% set comments = r25_location.get('location_info')['comments'] %}
        {% if comments is not empty %}
          <div id="stanford-r25-room-comments">
            {{ comments | raw }}
          </div>
        {%  endif %}
        {% set layout_name = r25_location.get('location_info')['layout_name'] %}
        {% if layout_name is not empty %}
          <div id="stanford-r25-room-layout">
            <b>Layout: </b>{{ layout_name }}
          </div>
        {% endif %}
        {% set capacity = r25_location.get('location_info')['capacity'] %}
        {% if capacity is not empty %}
            <div id="stanford-r25-room-capacity">
              <b>Capacity: </b>{{ capacity }}
            </div>
        {% endif %}
        {% set layout_features = r25_location.get('location_info')['layout_features'] %}
        {% if layout_features is not empty %}
          <div id="stanford-r25-room-features">
            <b>Features: </b>{{ layout_features }}
          </div>
        {% endif %}
        {% set layout_instruction = r25_location.get('location_info')['layout_instruction'] %}
        {% if layout_instruction is not empty %}
          <div id="stanford-r25-room-instruction">
            <b>Instructions: </b>{{ layout_instruction | raw }}
          </div>
        {% endif %}
      </div>
    {% endif %}
  {% endif %}
</div>
<div id="stanford-r25-reservation">
  {% set room_id = r25_location.id() %}
  {% set start = 'now' %}
  {% if logged_in %}
    {{ link('Reserve This Room',
      "internal:/r25/reservation/#{room_id}/#{start}",
      { 'class':['use-ajax', 'button']} ) }}
    <span>&nbsp;Click here or select a timeslot on the calendar to reserve.</span>
  {% else %}
    {{ link('Login to Reserve Room',
      "internal:/saml_login?destination=/r25/#{room_id}/calendar",
      { 'class':['button']} ) }}
    <span>&nbsp;You must login in order to reserve this room.</span>
  {% endif %}
</div>

<div id="#stanford-r25-self-serve-msg"></div>
<div id="stanford-r25-calendar">
{% set caltype = r25_location.get('caltype') %}
{% if caltype is empty %}
  {% set caltype = 0 %}
{% endif %}
{% if caltype == 1 %}
  <div id="control-spud"></div>
  <div id="calendar-spud">This feature is not yet implemented.</div>
{% elseif caltype == 2 %}
  <div id="calendar"></div>
  {% set permalink = r25_location.get('permalink') %}
  {% if permalink == 1 %}
    <div id="stanford-r25-permalink"></div>
  {% endif %}
{% else %}
  <span>The requested room is not currently available.</span>
{% endif %}
</div>
